
ul {
  list-style-type: none;
}
button {
  margin: 1em;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
}
.resultCard {
  /* display: flex; */
  margin: 2em;
}
.cardBody {
  display: flex;
}
.stats {
  margin-left: 1em;
}
.cardImg {
  width: 7em;
}

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: green;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}

.dropbtn {
  background-color: crimson;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#hide{
  display: none;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.resize{
  width:10em;
  height:10em;
}
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid black;
  margin-right: 20px;
}  

/* .flex-child:first-child {
  margin-right: 20px;
}  */
.center{
  text-align: center;
  margin-top: 200px;
}

.far-right{
  float: right;
  margin: 5px;
}

#black{
  border: 2px solid white;
}
/* .carousel-item {
  background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTEhIWFRUWGBgXGBgXGBcXGBgYGBYXGhcXGBcYHSggGBolHRcXIjEhJSkrLi4uFx80OTQsOCgtLisBCgoKDg0OGxAQGy0lICUtLS0tLS8tLS0vLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAIYBeAMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAABAIDBQEGB//EAEUQAAEDAgIGBQkGBQMDBQAAAAEAAhEDIQQxBRJBUWFxIoGRodEGExUyUpKxwfAUFkJiZOEjcoKi8VSy0kSTwjM0Q2Pi/8QAGwEAAwEBAQEBAAAAAAAAAAAAAQIDAAQFBgf/xAA4EQABAwIDBAkDBAEEAwAAAAABAAIRAyESMUEEUWFxEyKBkaGxwdHwBRQyUpLh8bIzQmKiBhUj/9oADAMBAAIRAxEAPwD5JFlbWpxHJQx9QAtaOfNM1nBzQV1B0mybHJbGqspu1stje8pVtQNa/s70wyq1rTcTHf8AULLdTGdjvt3ykJIJCk3Nw0ke58VdjGh8AmNW2XJJvwh2EO5Z9itrCZdtzsq3VY8DmkdE3TpYgg7imqbpCm94cOl1HaP2UGsLbH9jxSQspKLqgChVqbAo06JNyiAsuOrFRNU70z5loXDSG5ZZcYwkAlcIUnNjIkd6gg8JHIQhTIyStEpFbUZ0QVQtKnS1qY35JFzC03Cs4XlTY+ZCrXFa4jcqypOG6FQLipfmr1TUF0ozTszXELgVlMCROUj4q82lMoIVj6ZBIzg571DUKGMLSFxC6WlWPpaovmtj3LKpM4f5JUpugy09XWdi0w4JXCRC5uTFQWVAbbtTTjEFNTFk7BYruFHS6lo4NtyElhR0geCfoWeOI+aL/wASFOuYY5vCe66WxLJeAkzT9bgtHFiHgqOKpgNneiHCBxRZUGFg3i3ksVwUqQuFcxoI6WzJRYLncAUmC4KZrbgqLcio1FOmMp3yVGrMmVjkgR1ZUEIQkU0IQhZZCEIWWQhCFllZVIJ4wAu60DabfQVAJ29RXWtk+tbb+y0mZVyZUy6eJ3C66QYvAPEgLrngDcN2/wASln1p2ISgr3tOy/Ig/BU1as2hUK4u1s896yyra6Fcyp0Y2i45bQoCLWzUWOgoLK3DskyVZWqxYLlJ4DeKXKoFkzRVsKik8AXKn57cCU0BBRrbFFdc4nYBtuV1p2qb2yUrhqut+K41yk4zdTfTiEwB00U5T2HOzYe5de5zbRI7lVReWzIlqapvB9VyoVxvsZiyzqz/AMglUO+gtTFtdGY6gspwup1Ml0UnBwshuarrMMzmmzhy1usdqXSaLou1Kq2i2TdXPA2hM4GiwzMzsuL8LrDNMDJhTdg8uPVHNWPwwAmZG8AkdqsbgLWdnsgwOdpV1DBNIhxc0ZxIPXbJNICoGxos2o1sggpbFvnPeVoaRZTbZl4SLnbYQJCm4wVTSok3OSZdUmAMhkPmu0mFwOZRTp3+KwEoGSpA3jdf4JsU5bKcxuGY6lrU8xmNqTwFYEkdaox9lRxwAkK3DUhsMnNO6m0bFSaMXAd1K3C1rwRCV8kYm5LirEuGNlwFLFUddshKVXAtDXyDlOztWoAq3gKLKsCD2Ljo7SBDSJAy4LFY7VlouNhQKYa2Yku2JytUvDW9exZtetEwZdkT8guqV6zHY4m39Kis/Z2lROQUAptHRSvGqLxquIUqdMuMASb25CfktYaDqCm4/wAOdYD193+UgBOSisdCfqaOIkHMJKoyFiCjCihCEEEIQhZZWUoNJwOYgjtuFVReIiU7gm/w6hibNHafCVyvRAHSZFs2m8cjmU+G6YOhZlR0lQXSuKSohdBXF0BZZTABO5XsYzieSXCewLA5wEnq5KjQCEpMKGKw4bvac4P7KmkwEEnYnNKEA6omOIjq4JbD+q762JoCwKGRsCnELlEQrHJoEoZ3UHgmBz+CKzIz3/MqykL9qljADHN3xQqAErAdVX4LDtIlU1TNQAZSPiqG1nARK5T2kbI+KWQbfLLnDHAkkrQqPAa/mAs1zsuCYpuENBteeG1LuzKV5tZGm3DIUU1hmho1j1BU4elrOA7eSni4nVbkEjM1VrgHRquV8YXZ5KWEaHHcltVW0AQCeHxVjhiyYETdcrETYpug4CkdX13PDeoAH4lZ+qtDRWF13Q7YJhI8NaCUzRiNk4zBvBs3pAC88IRVBZSkWdrTnMBrQI+UJhoaHQKboOZkT2JLSMA6rWkWm8SoNJJ+e66HNAEpPE3LT7V+Rm6nicLqtBlK1nXHAR8yrsY8lrOS6MOq57QZT2hsQ0Eti8ZrOxVY6xg7VDDEh4PFdxTIfCYNActitCswWNcx0zIyIN5G1NVqGq6W+qYg/V1lwnsN0mcWlZ0C6U1A0XWto7FlwMi4zhW1ngxAP9qysFiC2++3wWpQMtjaJ/8AFTLA3raLkqUAx3SRa3r6wl9Z4LgDa5CUrudJWs+JmbFZeJxAIMDNUpvnRX2erivhi19LpN9VxiSYKqqhWVMguV2xdJMPErobrKpVjPVPUq1NhsVZ+S1TJW4SqGvDjsXpqOm6RaWjDvJJmejvnaV5JaWj6iRjiFGLLVFUOFrGSCDsPzyKxtIMW1XAgESCLzFjz+v3xMdUlE5LNSaEIUkEIQhZZaWDrhtF7Tm5zY6uKa8oabmU26wjWFrz+6zKtqbRtme5L41zuiCSYFp2BM7es1twk0IQpqyEIQsspBaWiGy8fXzWc0StLCMLHWBMbcgqtNkjyFVpE3VWG9UqWNdJUcP6pRR0VrRw61dqRkb2jrzHNUmyYYJB1YkxbwPFFLBXDSIIOwyo4rMc3LmsdaHTbeeClicxzd8UCn0SlESYThw5awzmT8EsxvShaNaG+sdiDRC5ariHALOqOGqBt/dVKUWlMaOoazxJIAvIEqLpKoSGglM0G6lMmRLtxvCS82e1amNMmNYkDhCrwtIhwcL6t75W38MlphQokuPEqFXDCnTaS2XPvf8ACLxHEpdlG0ZEn6yTlXHbAxrrmHRvM2G5Kve85CBuAhGRqV3FgKg7VbkJO859QyC0aeBcwNe7MubI57OxZYY42haYxLnOBc3KLSb52Qc+XANPNOwC5PYncY+pOq17tYOIt0Rwk8oWVj6w9UHWM9J3HcOC0sZiK72ebgNZYwLlw3ztWd9hKLGgIvk2CzSFfVFm8la+gcvraullm9aJcSuEvSpYRf6yV+ObkeHBXOp/XXClVpfw2zviYKAdJlL0kkFZ4Yr8A4NdeIIgzMdytZRUXUbgjmiHaIl4cCCpNZdw6xaFo0xBdwv2/wCFQ5vTa7pEG0vtmNycovHqOEH1Qd8J8UNhbpiaQ5f33CZ5zos/ES0AbxKpr046wntKstI/D0SlarwSycrT8QqB+ISV0Mql7A7v8f4SdZufCJVou0flz5KmsTrHiVbhn6pnPYRvC56lyqMzS72avJTZSkEt6Q7+xP8AmhG9py+t6rbgSLsM/EdaIqzYpntMWSKYouDd/b+yn5y+q9smNtnzukbOYXTSY4DVfBP4X2/uyKcKIVzsVsn59ySqib63aCPhKsq0HNkkW35jMbQq0TfNGAoGkd47fFcLDuU3eCraUISkLiF3WQggmcWfUG5olKY71k3ioNQRlHiksWekUzskW5pdCEKSohCELLJjCm5T+GrkZcbb/q6zqKYaYKYKNQXXcS0RO5VUHgAglO4QFznRu+YV32Bp9YATF7NjjGR7E4KDXhogpAEHaFNse1llw7kw/R5ZkZGy2fIjNLpplVEEWVo6Rzkx9bFp6RpUxSZEF7i13EAh/jfkl8AGubGrJaZnhaOrW/3LaxOhAKTcnPjWn8IGYBO4dm9SL730QfYgDVeaxmFLDvO+I/yFHzb3NveMt605a4k2c1rYbIGcjLvVrHtc4Q2BrDK3RAM5cpXNV2nDaFZmz4wC4/Oaw6lB+0Hu+C09HUwxpOvBOyyZDWxMTIkCTaCJ5zc9a6zDAEawkb7wZyMjJS+6MyR871qmxNeImB84Jem4XkzzUTim6pbcg5xtEWGWQN0+cC2LAknbkB48kzU0e1sS38LnOvt/A3glO2gXhPR+n4SSD87vgSeA0kwBgNIQ1oEkXMTtjbIM8E87StGDNJoMHYc+xUOwobTc8jISIAEmBYHP1iFkYJrHPl9Ks4uyDdW57JQpgVSSNFSvWOzgA3nyXoaWk8NkGM+Z3lZVeprufYtESyBPSBt9cVo0GtZ6uEqt6mg9pCvOJcMsM4/zVA34NKsxoa6fZcb9vc4Rh8VGji6LWnXIzEQb5Au6pnrSeKxtEHo5G8Wz2/XFcx76eqXPwrLCTq4hoNv5RJ5LM0fSY+r6rmsJs0Oki1hrWlVBGaUbROnirqj2udLcuPWl207jmfn1rWqaMw83YcvxO8DxV2FZSa9st6IItLjY2Iib2sh0mG4Cn0WN8zErOZQl7G+09rRYkS5w3ZrZ8pMK0BlGm9r3CrVkAdMue5nrN2NmwAvEKnFaMa+v5rDyC5zRrAmAGx04BO9vXKv8p9Cmg4EOLqpMuO9zrzOx07sk9O9No4KbqIpuwE3CjpHybFLOrJF7NIEb4Ny3iOxYbWzcb/rvXqtK4htKhqed1qjWgdIh7xrDpdAk3Mi5sAAQSV4Zjhx7SNnDkp4mvpgjQxzGvzNUq7GWQ0m6dxFIllgZBzLrDdAVNXGgi062WrGR3tduTOCcIIg/1X+aSa2arRxKu1wsVGiC2phdpf5mrmvLpkgSIM5dfGEjVEW7SeoW3BaOMpZWMEiY7O26VxTel1kZRnwVRddbIdl8y8kpVdGxTp1GnaRz8VU8QUNaPZHakwgqmK6ap1tXK45/UFaGErNcLG+7b2LKZQnIAdqDSc06wN94BUzSnVHpQt12EFQbiMjE9XELO0jgjT4g3kRnt2W2WWlonFB4OxwzHzHBO1aYc0tIBB3iVMPc0wmLQV5vAmoagYySXOiJBHhv7FZphjRUhsWs6MtbaihQq0XlzHQWy6BckDaJ4SJ8UiXG8zmTeBmrC+SkRBuuvPyUAuujeO1RCYpChCEIJUw+q3XnZyS1RoJJW1X0NTI1qOJpuG551HDmlXaLIu6rRA/nnuASmoNUeSzfNhd1BkAtGjRpA3LqhuYEMbYbXEz3K2npd1OfNMp0+IaHO4AufJKGLcEYKRbo2obijUP9DvBUGnwXp8J5U4qmA7zwePYfTEHgHNaL9YUPKWpSxAbiaUBzjD2EjWB2SNuUTF7IiChDpuvO02cFItP0R81INWg0ugAPjo7xnuKcCEjpBSeFq6pJO20g3HGy23lrukL22C88zt4SEjrPidcTukRHBL0q5pOiZG6VkhuthzZGcdZIjryWTj6GqZbec4sAfArVo1Q4SF2qyRztfbvCIMINcWlZWjCQ7Wy2Z9xXoMZVqOpmXNaNW5iZFsgLavGTEpTD0DlqADcQB8ldicQGRLQZIEwM9nJcpc5xxHJdhcwWFz8yWIa+qBugj/G/NMUqoEwQZbbgT+0p/GYUVT0niQOfxIS7dADY5p7vFTq4Cbn18lqL3AZeY8wqqNTITEGQd1rrYwTdjXgja2Q4dW1Zo8naoybI4FwnvQdHVmXFN4I3dL4ArmqU2vHVcF109owm4Xo6QFrAngI7Um+vr1S0G+/iP3ELKr1K8EOLwIv0dXwKVoEtILSZ5k/EEKLNjcJM8l0VNvYYABj5xW15RgagYSBItsnVGzrcOxZ2hcPSLwCwOsbHgM7KrFuc8g1DrRIEkfAQrNH1W03TqOPRIgbzkZ7c5zXfsjehZhOa8r6k813Y25Rlr7L0fovCAXYT2yeF1IYLCgx5hgjaYvxsZWUNIl09Azs1iBA46u2JUBinmQA0WGwkiOdy6PqLLoGEflJ7V5Tm1jkY8fX0Wtim0dRwbSYJaZAzI2ttnlyXlNB0YLXOAj8wnMZxtWuab3yahz2kRls35KutXptzI+aBNoV6TYJO+OOSsq1wLNJOZsIEk/5SVR7iPVOyCTlGVgq6ukJ9RnWbdyrZTqvPTJA3Aav7qJgLuYwm0L0fkxj2MLXPIa5n8MnLWEy0G/AjqCc8o9OtIkEeegERcsObXQciNnKcyszRerScCxoiIJlwdMSYLSD3prSTg+m80tVjydYugaz4A1mPMdMHME3EEScyrarZAIOH5Y8PS3Pqds0HGCC+Le438ON+XhnExERwvfjmu0M/q2e7tVmkMMaZEvaXHY0zHWLJajUg3yXTUBdcLjbAWno/M7tX6KrpiKreano10kne3vRH8QdSakJEc1zxNcjh6JmqBEn8NUe7rNSWMcDrEe0Pgm8QekJ9V2fNJYhgHRbe5PcrMBid4VqDbYt47M/dZ7t67Rz+u9ddlyKq87GQ2/BAEBVGS0KZ4/Xau1PrLfzSH2t2yB1IOMfvSpMBmUzhcT5uoHbLzlcHl2r1YXh313HMyvb+T+NbSpNq1TBaIDSQHGLTfIcVKqASCqh0BIaWwznFpDHiJDui7KLiQMliGjH4aY5kn4r1OktO4tzdc1hTECabWMlpM2JMkHmZWdXxD6lMPfTbVGTpY1rmybDWZBBMiOYQa8Ny9krw83IWNqcaQ6h4LhP/ANo6gFo/ZqRsKZYbGCPOC43tMx1KbNHbW+YI4mNu4hUxhR4eyx3Bmx3d+66vRYbRrQJqVaTRupgPceQhC2JqGJY2j8RqO1wDIGyLTbMgjbtUPOw8ua4ti4Leic87er1di0/sJbTLTG+d3IHLqhUDRZizh2jdtkyoitT1K6cSz+d523seF/ioHieE9w6oWo3Rrx+KJEGHN7M7hToaPe0kiDO8AjeCJuNlwt09LQhDEEnXw8ACQZuNUgi/L5wo02DbmT1XORdkFoVdHPcZJndeYGwXncino9zTJIPB1x2Gw5ojaKe8LSFEUNWxBB3EQe9NYnR+o1hdYvGsGxfVkgE8yDZJP0aRfWA46zbDdM361o4utVrFjnFnRptYILbhswc+KYbVTt1gpkHRLsoMOYVOI0O13qmOaYFF+wA9du3wUhhn8O1Mdpo6uCHWWY3DVaRmNZvC/cn6WIebtY7LaAAJ4nPqTNLA1HZfFdq4eAYcXkbWxqzxe4gfNDpaRyK56lam10ON/me7tWbT0w7WhwETFrbVsOw1N3Re6B9blknR7Jl8wZgs+GXYUYi5GrrCN+fdyUiYyVA9j8vC3jnZbNXyfbUuyt0uN7cs1UzQOIYbFrhukjuIWfh8S9vHmn6OnKjch3n4RC5iKmhVw5m9UYj7TTM+bcBwE97TZXs0/Ua0EuM7iB8HBNs8qqo/+Np5/sFN3lTPrYVh5nxalh5/Jo7x6o42/q8FzC+VNQx6p5t8CrMb5QPLNYhuy2rMSfzSs3FaTpP/AOkY07w5wv8A0gJWprPbApPAMXgxvHSI+JT06bBctE9h9wkq1gIBdA5x6hdGKpE3BBzta6Zoik4+s7u+crOdhzE6zDyex5/sJUhTjMA9T/8AgqhxJuAp46Lh1Hnsk+62Kz6DM+keZPcMlRV0i82ptA55JRlZo/D2T8SExT0gBkz4+CpiPLkFKGAZE81E4Wq/1nW7B4qylotrR0j2WQ7S25scTJ+SSrufU9Y24B474lDq80wquP8AxHJM1sbSp2bd24XPX+6oZjHPOWrwOf14KhuFMQ0sbs9djT/eQo/ZajT6jxGZ1XEHjreCUmRpyVqVag193Xy43WthqhI1QRrA7ct4jeereoYrFajCDMkRyGyeqe5JMxThMNubE7f2VRcSZIJPHLqAUsLnWcu3pqFOTTzvv15hZL7mSolqffhZM5dVlH7Hz7F14wuLE0qehR0z/KrnPhxO5s94Sv2Pn2KbMGNsxwHiiKoBlSDQKnST2R/K0nkZEdFyTx5a0ardq6dHyDq1H6o9qQOUT35JmlosuaGmq5sjJwGrrbg4Ej5oNqtCm2rSZEu7L954x6ZLALozS7jdb1bydeM3fXyVJ0C7Y5b7ikM3LrY9rm4mmRvWMtLR+inVqdR1My6mNYsi5ZlrA8zkrjoM7THZHbK0NFMfhvOOaWdNjmEuLbB0ceCztppxZyJO5Y+i9HirMuiNgEk8gtzFYlrmajhD2PbBNmP1XCellJHxSFHRrgZDhwhzZ7QbDktIhzjlukNqPbMZmAYk2EwfVUKlZrjM+Kq1zQEnTw+syNYAjOZbMZmXCJMmbnrS+HwgLgzWBLtVgcYgR65B9mLA7ZWj9jEkhhbMzD4zkx0Wi0mOSWxOAc4ibRa0X23O3bcpRVZvWL2pevo5zXlgc3oWLhME5xOU8kVGODw51TWmXEnpZROfrG88YV9XBvc1o1h0QGgyzIWjeqnaLdF3D+3ugyqitT3iVI58FHSVRxeXScs85gGLgAGzbxvQmhgnOptaItedp3TGfXPUuIdOwarEr1BwzhlS1uQI/wBzge5DsOQD0HDkB83FPVdM0g8sGJoEtMOJp1Q0ciHHWPK3FODSODMa2MFvZZVaD3E96+Z6SrA6jv2u9oXXgZ+od7V5Wo1gIDWVXOOzWcJ5QTKawejarzPmy0fmc/W7nQVu1cZo67tem50H8Dp7XNUMKG1m61DBioN5BYLfmewAjlKd20vwzgI4ukeZaOSwpCcweV/KUk3QRF5k7iXx8fiuVNHubmGDnrT1AFan3dqvb0xh6O8MYahjg86uqeQ601R0JWZZnmANsMeP/IyuY7ZvdPZ6/wBqn25/T8+b4XmXYSpMams3aYgcgNYHtXDo2Y/hPtkBDR2B9161uBcD0nscNrWsfrd7rdYTowgufVB2u1XRyIuPiu2mazoP4948PZeHtX1bZKJLWHGR+mCBzf8AiOOa8dR0IX+03+Zz5P8ALBKcZoVjSCASeLnObrbbEQe9eq+yAE9KAJiBnBvO/tRS0drXNrfmjlc/BX6UMFvH0H9x4rzXbVX2h0PMZ9Vvb+Ts76fiCMpmD5ato/WgOMgjIXaDxaRf+V0qh+gST+JoBtqnUniQ1rYXtm6NA/F2AQu+jx7SR21Oyb/KNGgGAF2fDLyzjOLTeCbrxHoEfm5m57Tdd9Ajj3L2/o8e0Uejx7RU/uKm9dMtXiPQI49y56BHHuXuPR49orno8e0t9w/ejIXifQI49ykNADO+6LXPyXtfR49ooOB3H64bimbtD5uVOqTh6mduFpuAdDGXmMx4l2iDEACnvLZa73xJ72qs6C5h35nUycvylzivaHDRs56129y75ljjaoZtanbvaZKq2s8jeeF1xOqhlQYSGg54uqZ0gwCdZu7SF4w6DztPFpAd3lp7lKnoA3kHVnORM8ReV7P7HAN3utnBLptEOdkuN0cCJD4H5LHrO1Y1ntEut2en8p2vdUJDL5Xm0cCMzp+MDJy8V6C4EGeAtzFlZ6CnYN2fQndlK9k/R4ylxkflPX0iqxgr6vxEundPzlKNoJAII+b5PlKo8uxkOBjIZm/CAJ7YkzciI8d6BvcHPhltzgrtXyfNrGJzBBPV7K9t9gkRLhAi1pjbAcVE6PDROtrfzXPU/Yt9yZifneVv/oWh0Eb5MHyaP+0RqZC8V6DtYCfzEEndMaygNBX2zva+nP8AcWuHNe5GDkCS9ttxBPNzc1AUGDOpJ3VP/wBXVBVeDeY3x6rndtBwdR7Q45Bxjl1Rr2leObokxECpuLtYn3zDj2nrXT5PjMTuvEyvYfZSdh/psO/xVowO8+6Lf54qR2hwBuOC6KZ6wwAgayAOyIEmdQI4leH9Ajj3I9Ajj3L3Ho8e0Uejx7RU/uH711SF4gaBHHuR6BHHuXt/R49oo9Hj2it9w/etIXiDoAfmHKx7RdcboMtt0iNusdcjeQHB0r3Ho8e0Uejx7RRG01Ac0rg1wgrx2GwGrIaYAGT8tbgABFvwtUX6EY4yQ5pO5zmt6hkvYu0YD+LtAhUVdHat2397vAKsNqn+fRcbqbqZLmEjcW3PaD+V99uIzXiq+hC323cWud3y4JZujgJ/hug5gwR3vsvf/ZWkg60iRcieQ4Ko4MOvEje3o995ulfiI6hM7ifCcuwrqo/WMBjaGyNHM3RnhkmN7my1eFGEqTGrqt2HVkRuI1nHsTNPR7nZBhjONa3ME2XpDgHnKpTHstLHz2h11RW0JVfZ4oRsJY8mN46Qgrhq7Q6mYfbsz9+9e9sj6O1Mx0HBw4HLmM29oCw3aBJvMHcC+Pj8EhjNG1WH/wBMuE/hdUnrl1l6F3k9Wpjotw9bcHtNIgbtYa2seJAVWMLKIBr4MUwbAwXNn+ZjHAdZWZtTi6AQ7hke6QVd1GBcR4+IBC83TaxxILKocLEazjHOSINwtBuHcRIYTza0dwcFsU8Xo4X85Ta7gx09rW/NddpHBgHUxg/qZVcB3A96o+vUJtTd2tce6yUUmj/c3vasX7OTnS1f5gXf7HH4IWhh9L03ODDiaAcZiKdUtMfmLhB5gdaFN1Wo03a4dh9QsGNOTh3haP35H+nHvFU6T8tnU9XUoNJeWAFzjA1zEkAXjmhCrT+m7NjAweJ90v3daD1lRW8pW9IVqPnpMQ90MB4UwI6zJTWF8tQz1cOAN2tYchEIQg3YKBbdvHM+6ztpqAm/knsP5ZBzgDRF3AZpx2k9axb1zfthCF17Hs1KkCWNEzzy55Z6L5T/AMk2irUc2m5xw4SYmATiOYETkM0pQ070qrBRGswGDrmHAA2dbnvTXp6XQaDW6rGuOq919Ym2VwA3vXUKwaC8T8suKoeioODLWb/iw+JJnfqs4+WQpks+ysdqucJc4zY8rLv3+/SM993ghCkWNNyF7lOm1tNoAyAHcEff79Iz33eCPv8AfpGe+7wQhDo27k8BH3+/SM993gj7/fpGe+7wQhbo27loCPv9+kZ77vBH3+/SM993ghC3Rt3LQEff79Iz33eCPv8AfpGe+7wQhbA3ctAR9/v0jPfd4KP38BzwdP3j4LqEOjbuRACifLtv+kb1VHj4If5cgj/2wHKq/wAEIVi3DYEjtKkaFJ13NB7AoDy0H+mH/cP/ABXfvp+nH/cP/FcQjB3n9x90g2TZ4/02/tHsg+Wg/wBMP+4f+Km3y7AEfZQedV/ghCDpGp7z7ojZaAcYpt/aPZdb5dAf9I3rqOd8Qhvl4Blg6Y/qPguoSvptVWtAFhC79/v0jPfd4I+/36Rnvu8EISYG7kcIR9/v0jPfd4I+/wB+kZ77vBCFujbuWgI+/wB+kZ77vBH3+/SM993ghC3Rt3LQEff79Iz33eCPv9+kZ77vBCFujbuWgI+/36Rnvu8Eff79Iz33eCELYG7loC7R8rRVc2l9mYyTEtcdkxaE87T+q4tFBrv4fnBrPdk10EWFs0IVCxuEiNV5e1dTaWubqB/luy1PmlcTpvpU6XmRJZrk6xIEhxhtvy52TdPSWrYNvz+ZEoQrMAcMLgCOInzXkbTNN7ajCWuw5gkH8nDMcAB2JCt5ahrnN8wJa5zc7WMJPGeWTXDpYcOAtBdY9UQhC8lv0/Zw49XfqfdfoLdrrFoJOg0Hsl6PlMAWijS81sDQ7Wp9dM5f0kK7RPlwarS44drYmYeTkYtIQhUd9O2bC84ciNTrPG+Wqo3aaojrb1f99/07fePghCEv/rNl/T4n3SfeVv1eS//Z) no-repeat center fixed;

} */