
ul {
  list-style-type: none;
}
button {
  margin: 1em;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
}
.resultCard {
  /* display: flex; */
  margin: 2em;
}
.cardBody {
  display: flex;
}
.stats {
  margin-left: 1em;
}
.cardImg {
  width: 7em;
}
.dropbtn {
  background-color: crimson;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#hide{
  display: none;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.resize{
  width:10em;
  height:10em;
}
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid black;
  margin-right: 20px;
  background-color: beige;
}  

/* .flex-child:first-child {
  margin-right: 20px;
}  */
.center{
  text-align: center;
  margin-top: 200px;
}

.far-right{
  float: right;
  margin: 5px;
}

#black{
  border: 2px solid white;
}